*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.skills{
  display: flex;
  width: 40vw;
  flex-direction: column;
}
.skill{
  margin: 1vmax 1vmax;
  background-color:#f0f0f0;
 
  min-width: 7vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1vmax;
  position: fixed;
  top:0;
  width: 97vw;
  z-index: 10000000000;
  background-color: white;
}
.navbar-left{
  display: flex;
align-items: center;
}

.img{
  border-radius: 50%;
  width: 1.5vmax;
  height: 1.5vmax;
  margin-right: 5px;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
width:30vw
}
.firstline{
  font-size: 3vmax;
}
.about{
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0062b9;
  height: 90vh;
  width: 100vw;
  position: relative;
  color: white;
  flex-direction: column;
}
.socialmedia{
  position: absolute;
  left: 0;
  top: 30%;
}
.socialmedia li{
  border: 1px solid white;
  border-left: none;
}
.projectbtn{
  border: none;
  outline: none;
  background-color:white;
  color: black;
  padding: 1vmax;
  width: 10vw;
  margin-top:1vmax;
}
.aboutpara{
  margin-top: 2vmax;
  margin-bottom: 2vmax;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillstitle{
  margin-top: 5vmax;
margin-left: 1vmax;
}
.center{
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  align-items: center;
  background-color: #dfe0eb;
}
.row{
  display: flex;
  flex-direction: row;
}
.leftskillstitle{
  padding: 2vmax;
  width: 50vw;
}
li{
  text-decoration: none;
  list-style-type: none;
}
.btncontact{
  background-color: #0062b9;
  color: white;
  text-decoration: none;
margin-top: 5vmax;
padding: 0.5vmax;
width:20vw;
height: 20vmax;
}
.gettoknow{
  margin-top: 2vmax;
}
.aboutme{
  background-color: #dfe0eb;
  display: flex;
  justify-content: center;
  padding-top: 2vmax;
}
.heading{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 1vmax;
}
.main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.heading-sec__sub{
  font-size:15px;
  opacity: 0.7;
  margin: 1vmax 2vmax;
}
.projects__content{
  display: flex;
flex-direction: column;
}
.projects__row-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25vh;
  margin-left: 8vw;
}
.projects__row{
  display: flex;
  justify-content:space-between;
  margin: 1vmax 2vmax;
  align-items: center;
  width: 60vw;
  margin-right: 2vmax;
}
.btn{
  background-color: #0062b9;
  color: white;
  width: 10vw;
  height: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  background-color: #0062b9;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.input{
  margin: 1vmax 1vmax;
  width: 30vw;
  height: 8vh;
  outline: none;
  border: none;
  background-color: #dfe0eb;
  padding-left: 5px;
}
.contacttitle{
  margin: 1vmax 1vmax;
  color: white;
}
.contact_wall{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 70%;
}
.body{
  height: 20vh;
}