*{
  margin: 0;
  padding: 0;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill{
  margin: 1vmax 1vmax;
  background-color:#f0f0f0;
  color:#333;
  min-width: 7vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1vmax;
  position: fixed;
  top:0;
  width: 97vw;
  z-index: 10000000000;
  background-color: white;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
width:30vw
}
.about{
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0062b9;
  height: 90vh;
  width: 100vw;
  color: white;
  flex-direction: column;
}
.about p{
  margin: 1vmax;
}
.skillstitle{
  margin-top: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
  align-items: center;
}